# Purrfect Pitch - Requirements
# Tugas Besar Mata Kuliah Multimedia
# Institut Teknologi Sumatera

# Audio Processing
librosa>=0.10.0
soundfile>=0.12.0
numpy>=1.24.0

# Computer Vision
opencv-python>=4.8.0
mediapipe>=0.10.0

# Game Engine & GUI
pygame>=2.5.0

# Utilities
tqdm>=4.65.0
